FIREBASE_CRED_PATH=/app/firebase-adminsdk.json
FIREBASE_DB_URL=https://smart-bus-station-XXXXX-default-rtdb.firebaseio.com/

STREAM_URL=http://192.168.0.xxx:8080/stream

OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY

LAT=37.5665
LON=126.9780
CAPACITY=4

GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-service-account.json